<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AWSSDK.SimpleSystemsManagement" publicKeyToken="885c28607f98e604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.334.0" newVersion="3.7.334.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AWSSDK.Lambda" publicKeyToken="885c28607f98e604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.334.0" newVersion="3.7.334.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AWSSDK.EC2" publicKeyToken="885c28607f98e604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.334.0" newVersion="3.7.334.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>